.cart_product img {
    margin: 0 auto;
    width: 100px;
}

.cart_quantity_input {
    width: 30px;
}

.cart_product p {
    text-align: center;
}

.cart_total p {
    text-align: center;
}

.cart_price{
    text-align: center;
}

.cart_quantity_button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_quantity_up{
    margin-right: 5px;
}

.cart_quantity_down{
    margin-left: 5px;
}

.cart_title th {
    text-align: center;
}

.cart_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ppip{
    margin-left: 20px;
}

/* cartDetail.css */
@media (max-width: 950px) {
    .cart_info p{
        font-size: 15px;
    }
    .cart_quantity_input{
        width: 25px;
        font-size: smaller;
    }
}

@media (max-width: 440px) {
    .cart_info p{
        font-size: 12px;
    }
    .cart-option{
        flex-direction: column;
        align-items: center;
        font-size: 12px;
    }
    .user-option{
        font-size: 12px;
    }
    .user-option .placeholder-text-size::placeholder {
        font-size: 12px;
      }
    .ppip{
        margin-left: 0px;
    }
    
}

@media (max-width: 390px) {
    .cart-info p{
        font-size: 10px;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.success-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    animation: slideInRight 0.5s forwards;
  }
  
  .success-notification.slide-out {
    animation: slideOutLeft 0.5s forwards;
}