.selectedCategory{
    font-size: larger;
}



.categorysection_above {
    display: flex;
    justify-content: space-around;
    padding: 20px 20px 0 20px;
}

.categorysection_above_left {
  flex: 1;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 15px;
}

.categorysection_above_right {
    flex: 0;
    padding-top: 10px;
    padding-right: 20px;
}



.categorysection_dropdown select{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

@media (max-width: 500px) { 
  .selectedCategory{
    display: none;
  }
}


@media (max-width: 380px) { 
  .categorysection_above{
    font-size: x-small;
  }
}
