.infor-header2 {
  border-bottom: 0.0625px solid #ffffff;
  padding: 20px 30px 5px 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin: 5px 0px 10px;
  text-align: center;
}
.form-name2 {
  padding-bottom: 30px;
}

.input2 {
  width: 300px;
  border: solid 1px green;
  border-radius: 4px;
  margin-top: 10px;
}
.input123 {
  border: solid 1px green;
  border-radius: 4px;
}

.form-control2 {
  text-align: center;
}

.content {
  background-color:  #e0ffff;
  padding: 120px 50px 50px 50px;
  margin: 0 auto;
  margin-left: 250px;
  border-left: none;
  
}
.button-save {
  text-align: center;
}
.dir-card {
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 20px 0px #2c65901a;
}

.information {
  border-radius: 10px;
  box-shadow: 0px 4px 20px 0px #2c65901a;
  background-color: white;
}
.info-header {
  border-bottom: 0.0625px solid #ffffff;
  padding: 20px 30px 5px 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin: 5px 0px 10px;
  text-align: center;
}
.info-content {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
}
.info-left {
  width: 100%;
  padding-left: 5%;
  text-align: left;
}
.info-right {
  width: 100%;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
}
.info-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #64646d;
}
.account-info {
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 16px;
}
.form-info {
  display: flex;
  flex-direction: row;
}

.avatar {
  text-align: center;
  background-color: #f0ffff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #c2ffff;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 15px;
}
.avatar-view {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-view .default {
  width: 50px;
  height: 50px;
}

.avatar-view .edit {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #64646d;
  border-radius: 12px;
  right: 3px;
  bottom: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.avatar-view .edit img {
  width: 10px;
  height: 10px;
}
.form-info .form-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-control {
  display: flex;
  align-items: center;
  margin: 0px 0px 34px;
  border: none;
}
.form-control div {
  display: flex;
  position: relative;
}
.input-label {
  min-width: 25%;
  font-size: 14px;
  color: rgb(51, 51, 51);
  margin-right: 16px;
}

.hmmerror {
  text-align: center;
  margin-bottom: 10px;
  color: red;
  font-size: 18px;
}

.input2{
  height: 36px;
  padding: 10px 12px;
  line-height: 20px;
}

.input123 {
  height: 36px;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 20px;
  border: 1px solid #c4c4cf;
  min-width: 250px;
}
.style-birthday select {
  width: 100px;
  height: 34px;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  line-height: 34px;
  border-radius: 4px;
  margin: 0px 12px 0px 0px;
  background: 0px center;
}

.style-input input{
  outline: none;
}
.style-radio {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
}
.style-radio .label {
  margin-left: 5px;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.style-input select {
  width: 200px;
  height: 34px;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  line-height: 34px;
  border-radius: 4px;
  margin: 0px 12px 0px 0px;
}
.style-btn-submit {
  width: 176px;
  border: 0px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  background-color: #0b74e5;
  cursor: pointer;
  margin-bottom: 20px;
}


@media screen and (min-width: 1150px) {
  .abovenav_searchbox {
    margin-left: 50px;
  }
  .contain {
    max-height: 550px;
  }
  .sidebar {
    display: block;
  }
}

@media screen and (max-width: 1150px) {
  .abovenav_open_close {
    margin-left: 20px;
  }
  .contain {
    flex-direction: column;
  }
  .sidebar {
    margin-top: 70px;
    width: 250px;
  }
  .main_logo {
    display: none;
  }

  .content {
    margin-left: 0;
    width: 100%;
    padding: 120px 25px 25px 25px;
  }
  .navbar {
    margin-left: 0;
    width: 100%;
  }
  .abovenav_items {
    justify-content: flex-end;
  }
}

@media screen and (max-width: 850px){
  .input123{
    min-width: 180px;
  }
}

@media screen and (max-width: 650px) {
  .sidebar {
    width: 200px;
  }
  .info-content {
    flex-direction: column;
  }
  .info-left {
    text-align: center;
    padding: 0;
  }
  .info-right {
    text-align: center;
    padding: 0;
  }

  .form-control {
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;
  }
  .input123{
    min-width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    margin-left: 0;
    width: 100%;
    padding: 120px 5px 5px 5px;
  }
  .btn {
    font-size: smaller;
  }
  .input123{
    min-width: 235px;
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    width: 150px;
    font-size: smaller;
    padding: 0;
  }
  .input2 {
    width: 250px;
    border: solid 1px green;
    border-radius: 4px;
  }
  .btn0 {
    font-size: smaller;
  }
}

@media screen and (max-width: 340px) {
  .input2 {
    width: 200px;
    border: solid 1px green;
    border-radius: 4px;
  }
  .input123{
    min-width: 150px;
  }
  .input-label {
    font-size: smaller;
    width: 20px;
  }
}
.input123 {
  width: 150px;
  border: solid 1px green;
  border-radius: 4px;
  text-align: left;
}
.input-label {
  font-size: smaller;
  width: 20px;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}
body.show-chatbot .chatbot-toggler {
  transform: rotate(90deg);
}
.chatbot-toggler span {
  color: #fff;
  position: absolute;
}
.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}
body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}
.chatbot {
  position: fixed;
  right: 35px;
  bottom: 90px;
  width: 420px;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.5);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
  z-index: 1001;
}
body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}
.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}
header h2 {
  font-size: 1.4rem;
}
.chatbot .chatbox {
  overflow-y: auto;
  height: 510px;
  padding: 30px 20px 100px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}
.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}
.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  margin: 20px 0;
  justify-content: flex-end;
}
.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  align-self: flex-end;
  background: #724ae8;
  border-radius: 4px;
  margin: 0 10px 7px 0;
}
.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #724ae8;
}
.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}
.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}
.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}
.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}
.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px 15px 15px 0;
  font-size: 0.95rem;
}
.chat-input span {
  align-self: flex-end;
  color: #724ae8;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 1.35rem;
}
.chat-input textarea:valid ~ span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }
  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }
  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }
  .chatbot .chat-input {
    padding: 5px 15px;
  }
  .chatbot header span {
    display: block;
  }
  .chatbot{
    min-height: 100%;
    min-width: 100%;
  }
}
