/* .footer {
  margin-left:20%;
  width:80%;
} */
/* .chung{
  display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
} */
  .shopper-informations{
    
    overflow-y: auto;
  }
.button-save {
  text-align: center;
}
.dir-card {
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 20px 0px #2c65901a;
}
.item {
  flex: 0 0 33.3333334%;
  max-width: 33.3333334%;
}
.item a {
  text-align: center;
  font-size: larger;
  color: #000000;
}
.information {
  border-radius: 5px;
  /* margin-bottom: 30px; */
  box-shadow: 0px 4px 20px 0px #2c65901a;
}
.info-header {
  border-bottom: 0.0625px solid #ffffff;
  padding: 20px 30px 5px 30px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  margin: 5px 0px 10px;
  text-align: center;
}
.info-content {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
}
.info-left {
  width: 100%;
  /* padding: 16px 24px 16px 16px; */
   padding-left:10%;
  text-align:left;
}
.info-right {
  width: 100%;
  padding-left:10%;
  display: flex;
  flex-direction: column;
}
.info-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #64646d;
}
.account-info {
  background-color: #ffffff;
  border-radius: 4px;
  margin-top: 16px;
}
.form-info {
  display: flex;
  flex-direction: row;
}

.avatar {
   text-align:center;
  background-color: #f0ffff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 4px solid #c2ffff;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.avatar-view {
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-view .default {
  width: 50px;
  height: 50px;
}

.avatar-view .edit {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #64646d;
  border-radius: 12px;
  right: 3px;
  bottom: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.avatar-view .edit img {
  width: 10px;
  height: 10px;
}
.form-info .form-name {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-control {
  display: flex;
  align-items: center;
  margin: 0px 0px 34px;
  border: none;
}
.form-control div {
  display: flex;
  position: relative;
}
.input-label {
 
  min-width: 25%;
  font-size: 14px;
  color: rgb(51, 51, 51);
  /* margin-right: 16px; */
}

.content input {
  height: 36px;
  border-radius: 4px;
  padding: 10px 12px;
  line-height: 20px;
  border: 1px solid #c4c4cf;
}
.style-birthday select {
  width: 100px;
  height: 34px;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  line-height: 34px;
  border-radius: 4px;
  margin: 0px 12px 0px 0px;
  background: 0px center;
}
.style-radio {
  display: flex;
  margin-right: 15px;
  cursor: pointer;
}
.style-radio .label {
  margin-left: 5px;
  font-size: 15px;
  line-height: 25px;
  display: flex;
  align-items: center;
}
.style-input select {
  width: 200px;
  height: 34px;
  border: 1px solid #cccccc;
  padding: 6px 12px;
  line-height: 34px;
  border-radius: 4px;
  margin: 0px 12px 0px 0px;
}
.style-btn-submit {
  width: 176px;
  border: 0px;
  height: 40px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  background-color: #0b74e5;
  cursor: pointer;
}
.info-vertical {
  border-left: 1px solid #ebebf0;
  margin: 16px 0px;
}

.style-list-item {
  background-color: #ffffff;
  border-radius: 4px;
  margin-bottom: 16px;
}
.style-list-item .list-item:first-child {
  border: none;
}
.style-list-item .list-item {
  border-top: 1px solid #f8f8f8;
  display: flex;
  padding: 19px 0px;
}
.infomation {
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
}
.icon {
  width: 24px;
  height: 24px;
}
.detail {
  display: flex;
  flex-direction: column;
}
.style-list-item .list-item span {
  font-size: 14px;
  line-height: 20px;
  margin-right: 6px;
  color: #38383d;
}
.style-list-item .list-item .status {
  color: #1ba8ff;
  flex: 1 1 0%;
  justify-content: space-between;
  display: flex;
}
.style-list-item .list-item .status span {
  cursor: pointer;
}
.style-list-item .list-item button {
  height: 28px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 0px 12px;
  color: #0b74e5;
  border: 1px solid #0b74e5;
  background-color: #ffffff;
}

--------------------------------------------------
  /* smartphone
  <740 */
  @media only screen and ( max-width: 739px ) {
   
}
/* 740 = <tablet <1024  */
@media only screen and (min-width: 740px) and (max-width: 1023px) {
}
/* tablet & smartphone */
@media only screen and (max-width: 1023px) {
  .info-content {
    flex-direction:column;
  }
   .info-left{
    text-align:center;
    padding:0;
      
    }
    .info-right{
      text-align:center;
       padding:0;
    }
    .shopper-informations {
    max-height: 550px; /* Điều chỉnh chiều cao tối đa cho màn hình nhỏ hơn */
  }
  .form-control{
    text-align:left;
    padding:5%;
  }

}
/* 1024 =<pc  */
@media only screen and (min-width: 64em) {
}
