.abovenav {
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: none;
}

a {
  text-decoration: none;
}

.abovenav_searchbox {
  position: relative;
  align-items: center;
  width: 50%;
  padding-right: 10px;
  padding-left: 10px;
  height: 42px;
}

.abovenav_searchbox input {
  border: 1px solid #737373;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  width: 100%;
  height: 40px;
  outline: none;
  margin-left: 150px;
}

.abovenav_items {
  display: flex;
  gap: 20px;
  width: 30%;
}

li {
  list-style: none;
}

.suggestion_search {
  background-color: white;
  position: relative;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1001;
  max-height: 470px;
  overflow-y: auto;
  margin-left: 150px;
}

.suggestion_box {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 5px;
  display: flex;
  border-radius: 10px;
  margin-top: 5px;
  overflow: hidden;
  max-height: 150px;
}

.suggestion_box_describe {
  margin-left: 5px;
  text-align: start;
}

.bn {
  font-size: larger;
  font-weight: bold;
  text-align: start;
}


.ba {
  font-style: italic;
  text-align: start;
}

.cart-icon{
  margin-left: 150px;
}

.user-icon-container{
  margin-right: 10px;
}

.abovenav .dropdown .sub-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px;
  margin: 0;
}

.abovenav .dropdown:hover .sub-menu {
  display: block;
}

@media screen and (max-width: 1650px) {
  .cart-icon{
    margin-left: 80px;
  }
}

@media screen and (max-width: 1400px) {
  .cart-icon{
    margin-left: 50px;
  }
}


@media screen and (max-width: 1300px) {
  .abovenav_searchbox input{
    margin-left: 50px;
  }
  .suggestion_search{
    margin-left: 50px;
  }
  .cart-icon{
    margin-left: 0px;
  }
}


@media screen and (max-width: 800px) {
  .suggestion_box img {
    max-width: 60px;
    max-height: 90px;
    border: 1px solid black;
  }
  .suggestion_search {
    width: 120%;
  }
  .suggestion_box {
    max-height: 90px;
  }
  .suggestion_box_describe {
    font-size: xx-small;
  }
  .suggestion_search {
    max-height: 300px;
  }
  .abovenav_searchbox input{
    margin-left: 0px;
  }
  .suggestion_search{
    margin-left: 0px;
  }
}

@media screen and (min-width: 800px) {
  .suggestion_box img {
    max-width: 100px;
    max-height: 150px;
    border: 1px solid black;
  }
  .suggestion_box {
    max-height: 150px;
  }
}

.user-icon-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: antiquewhite;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 120px;
}

.dropdown-menu a {
  display: block;
  color: black;
  text-decoration: none;
  padding: 8px 10px;
}

.dropdown-menu a:hover {
  background-color: #a7a5a5;
  color: white;
}

.cart-icon {
  position: relative;
}

.cart-icon {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -15px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 10px;
}

