.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -250px;
  background-color: white;
  transition: left 0.3s ease;
  z-index: 999;
}

.sidebar.open {
  left: 0;
  
}


.main_logo {
  text-align: center;
}

.main_logo img {
  width: 180px;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
}

.category {
  background-color: white;
  margin-top: 30px;
}

@media screen and (max-width: 1150px) {
  .category {
    margin-top: 15px;
  }
}

.sidebar_icon {
  padding: 15px;
}
.subsidebar_icon {
  padding: 15px 15px 15px 40px;
}

.sidebar_title {
  text-decoration: none;
  color: #737373;
}

.sidebar_content ul {
  list-style-type: none;
}

.sidebar_content ul li {
  cursor: pointer;
  padding: 10px 0 10px 0;
}

.subitems {
  display: none;
  margin-top: 20px;
}

.sidebar li:hover .subitems {
  display: block;
}

.sidebar li:hover {
  background-color: #f0f6fa;
}

.subitems li:hover {
  background-color: white;
}

@media screen and (max-width: 400px) {
  .subsidebar_icon{
    padding-left: 30px;
  }
}