.footer {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  border: 1px solid black;
  width: 80%;
  margin-left: 20%;
  display: flex;
}

#footer_contact_with_us {
  text-align: center;
  padding-top: 15px;
  font-size: 25px;
}

.footer_above_icon {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer_above_icon li :hover {
  color: black;
}

/* ---------------------------------------- */

.footer_below_container {
  margin-top: 0px;
  display: flex;
  
}

.footer_below_content h2 {
  font-size: 14px;
  font-weight: bolder;
  position: relative;
  margin-bottom: 20px;
}

.footer_below_content h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  background-color: #fff0f5;
  height: 1px;
  width: 60px;
}

.footer_below_content ul li a {
  font-size: 12px;
  text-decoration: none;
  display: block;
  transition: all 0.2s ease;
}

.footer_below_content ul li a:hover {
  color: rgba(39, 40, 39, 0.565);
  padding-left: 8px;
}

.footer_below_content {
 
  margin: 0 0 20px 50px;
}

.foot_below_content2 {
  
  margin-left: 50px;
  text-align: right;
}
