* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hanken Grotesk;
}

/* .container {
  display: flex;
  background-color: #fff0f5;
} */

.navbar{
  margin-left: 250px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.content {
  flex: 1;
  /* padding-left: 100px;
    margin-left: 250px; */
  background-color: #fff0f5;
  padding: 120px 50px 0 50px;
  margin: 0 auto;
  margin-left: 250px;
  border-left: 2px solid black;
}

/* Media query to hide sidebar when screen width is less than 768px */
@media screen and (max-width: 768px) {
  .contain {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }
  .content {
    margin-left: 0; /* Loại bỏ margin-left để nội dung chiếm toàn bộ chiều rộng */
    width: 100%; /* Đặt chiều rộng của nội dung là 100% */
  }
  .navbar {
    margin-left: 0; /* Loại bỏ margin-left để nội dung chiếm toàn bộ chiều rộng */
    width: 100%; /* Đặt chiều rộng của nội dung là 100% */
  }
}
