* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Hanken Grotesk;
}

/* .container {
  display: flex;
  background-color: #fff0f5;
} */

.navbar {
  margin-left: 250px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}


.content {
  flex: 1;
  /* padding-left: 100px;
    margin-left: 250px; */
  background-color: #e0ffff;
  padding: 120px 50px 50px 50px;
  margin: 0 auto;
  margin-left: 250px;
  border-left: none;
}

@media screen and (min-width: 1150px) {
  .abovenav_open_close{display: none;}
  .abovenav_searchbox{margin-left: 50px;}
}

@media screen and (max-width: 1150px) {
  .abovenav_open_close{
    margin-left: 20px;
  }
  .contain {
    flex-direction: column;
  }
  .sidebar {
    margin-top: 70px;
    width: 250px;
  }
  .main_logo{
    display: none;
  }

  .content {
    margin-left: 0; 
    width: 100%; 
    padding: 120px 25px 25px 25px;
  }
  .navbar {
    margin-left: 0; 
    width: 100%; 
  }
  .abovenav_items{
    justify-content: flex-end;
  }  
  .content {
    margin-left: 0; 
    width: 100%; 
    padding: 120px 10px 25px 10px;
  }
}

@media screen and (max-width: 650px) {
  .sidebar {
    width: 200px;
  }
}

@media screen and (max-width: 500px) {
  .content {
    margin-left: 0; 
    width: 100%; 
    padding: 120px 5px 25px 5px;
  }
}

@media screen and (max-width: 450px) {
  .sidebar {
    width: 150px;
    font-size: smaller;
    padding: 0;
  }
}

.noti{
  color: red;
}