.book_carousel{
    border-radius: 10px;
    background-color: white;
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 30px;
}

.carousel-container {
    height: 500px;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide {
    width: 97%;
    height: 94%;
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
    transition: background-image 0.1s ease-in-out;
}


@media (max-width: 767px) {
    .carousel-container {
        height: 300px;
    }
}

@media (max-width: 450px) {
    .carousel-container {
        height: 200px;
    }
}